<form action="/articles/<%=article._id%>?_method=PATCH" method="post">
  <h1>Edit this article</h1>

  <label>Article Title</label></br>
  <input type="text" name="article[title]" value="<%= article.title %>" /></br></br>

  <h3>Sections</h3>
  <% article.sections.forEach(function (section, index) { %>
    <label>Title</label><br/>
    <input type="text"
           name="article[sections][<%= index %>][title]"
           value="<%= section.title %>"><br/>
    <label>Content</label><br/>
    <input type="text"
           name="article[sections][<%= index %>][content]"
           value="<%= section.content %>"><br/>
  <% }) %>

<!--   <label>Select a Category</label></br>
<select name="article[category]">
  <option value="cat1">Categ1</option>
  <option value="cat2">Categ2</option>
  <option value="cat3">Categ3</option>
  <option value="cat4">Categ4</option>
</select></br></br></br> -->
  <input type="submit" value="Update article" /></br>
</form>
<script src="/scripts/articleScript.js"></script>
