<h1><%= article.title %></h1>
<p><em><%= article.author %></em></p>
<% for(var i = 0; i < article.sections.length; i++) { %>
  <h2><%= article.sections[i].title %></h2>
  <p><%= article.sections[i].content %></p>
<% } %>


<a href="/articles/<%= article._id %>/edit">Edit</a>

<form action="/articles/<%= article._id %>/?_method=DELETE" method="post">
  <input type="submit" value="Delete">
</form>
